__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.env.*
docker-compose.override.yml
.terraform/
terraform.tfstate*
terraform.tfstate.backup
*.log
coverage.xml
htmlcov/
*.cover
.vscode/
.idea/
*.suo
*.user
deploy_key
deploy_key.pub
sessions/
data/
